.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);
}

.posts {
  margin: 0;
}

.post {
  height: 100px;

  &.post + .post {
    margin: 4rem 0;
  }

  strong {
    font-family: 'Inter';
    color: var(--white);
    font-size: 28px;
    transition: color 0.5s;

    &:hover {
      color: var(--pink-500);
    }
  }

  p {
    font-family: 'Inter';
    color: var(--gray-200);
    font-size: 28;
    padding: 8px 0;
  }

  .postInfo {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap: 1rem;
    color: var(--gray-500);
  }

  .postInfoItems {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
}

.loadMorePosts {
  border: none;
  background-color: transparent;

  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--pink-500);
  transition: filter 0.5;

  &:hover {
    filter: brightness(0.8);
  }
}
